header {
    background-color: lightblue;
}

.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

.moderate{
    padding: 3px;
    background-color: yellow;
}

.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

li {
    list-style: none;
}

.btn {
    display: block;
}

.futurebox {
    float:right;
}